/* Perus tyylit ja rakenne */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

/* Navigaatio */
.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    padding: 10px 20px;
}

.topnav .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.topnav .nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 2;
}

.topnav a {
    color: white;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 16px;
    margin: 0 10px;
}

.topnav a:hover {
    background-color: #1abc9c;
}

.topnav a.active {
    background-color: #16a085;
}

/* Hero - Otsikko */
.hero {
    background-color: #3498db;
    color: white;
    padding: 80px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 3em;
    font-weight: bold;
}

.hero p {
    font-size: 1.5em;
    margin-top: 10px;
}

/* Korostettu teksti */
.highlight {
    background-color: #1abc9c;
    color: white;
    padding: 10px;
}

/* Korostettu alue */
.highlights {
    padding: 30px 20px;
    background-color: #ecf0f1;
    text-align: center;
}

.highlights h2 {
    font-size: 2em;
    color: #2c3e50;
    margin-bottom: 20px;
}

.highlights ul {
    list-style-type: none;
    padding: 0;
}

.highlights li {
    font-size: 1.2em;
    margin: 10px 0;
    color: #34495e;
}

/* Projektit ja CV */
.projects {
    margin: 40px auto;
    max-width: 1100px;
    text-align: center;
}

.projects img {
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
}

/* Footer */
.footer-content {
    background-color: #2c3e50;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.footer-content a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer-content a:hover {
    text-decoration: underline;
}

.footer-content p {
    margin-top: 10px;
    font-size: 1.1em;
}

/* Listojen ulkoasu */
ul {
    text-align: center;
}

li {
    list-style-type: none;
    font-size: 1.2em;
    margin-bottom: 10px;
    padding-left: 0;
}

/* Yleisiä muotoiluja */
section {
    padding: 40px 20px;
}

section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}
